<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../../public/img/skydocsIcon.png"/>
    
    <title>SkyDocs</title>
    <!--Apply a logo for tab here-->
</head>
<body>
    <!--APPLICATION HEADER-->
    <%- include('/Users/caleu/Desktop/Year 3/Arcitectures and frameworks/Assignment -/Deliverable/views/particals/header'); %>
    <!--END OF HEADER-->
    <br>
    <%- body %>
    <br>
    <%- include('/Users/caleu/Desktop/Year 3/Arcitectures and frameworks/Assignment -/Deliverable/views/particals/footer')%>
</body>
</html>