<h1>Login</h1>


<form action="/user/login" method="POST">
    <!--form section-->
  <div>
    <label for="name">Username</label>
    <input type="text" name="username" required></input>
  </div>
    <!--end form section-->
    <!--form section-->
  <div>
    <label for="name">Password</label>
    <input type="text" id=" " name="password" required></input>
  </div>
    <!--end form section-->
    <button type="submit">Login</button>
</form>