<h1>Register</h1>


<form action="/user/register" method="POST">
    <!--form section-->
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required></input>
  </div>
    <!--end form section-->
    <!--form section-->
  <div>
    <label for="name">Email</label>
    <input type="text" id="email" name="email" required></input>
  </div>
    <!--end form section-->
    <!--form section-->
  <div>
    <label for="name">Password</label>
    <input type="text" id="password" name="password" required></input>
  </div>
    <!--end form section-->
    <button type="submit">Register</button>
</form>

  
  